:root {
  --white: #f2f2f2;
  --black: #222222;
  --box-shadow: rgba(34, 34, 34, 0.5);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--white);
  color: var(--black);
}

body {
  display: flex;
  justify-content: center;
}

.page {
  width: 8.5in;
  height: 11in;
  padding-top: 0.1in;
  padding-left: 0.5in;
  padding-right: 0.5in;
  box-shadow: 8px 8px 16px var(--box-shadow);
}

.left-and-right-justify {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  padding-left: 1.1em;
  list-style-type: "— ";
}

.h1-container {
  display: flex;
  align-self: center;
}

.h1-container input {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.h3-container {
  height: 24px;
}

.h3-container input {
  font-size: 1.17em;
  font-weight: bold;
}

input {
  border: none;
  background-color: lightgray;
}

.section-title {
  display: flex;
  gap: 20px;
}

.bullet-input {
  width: 100%;
  resize: vertical;
  overflow: visible;
  height: 1.4em;
  font-size: 1em;
}

.right-justify-text {
  text-align: right;
}
