:root {
  --white: #f2f2f2;
  --black: #222222;
  --box-shadow: rgba(34, 34, 34, 0.5);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--white);
  color: var(--black);
  font-size: small;
}

body {
  display: flex;
  justify-content: center;
}

.page {
  margin-top: 10px;
  margin-bottom: 40px;
  width: 8.5in;
  height: 11in;
  padding-top: 0.1in;
  padding-left: 0.5in;
  padding-right: 0.5in;
  box-shadow: 8px 8px 16px var(--box-shadow);
}

.left-and-right-justify {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  padding-left: 1.1em;
  list-style-type: "— ";
}

li {
  padding-top: 3px;
}

.h1-container {
  margin-top: 20px;
  display: flex;
  align-self: center;
}

h2 {
  padding: 10px 0px 2px 0px;
}

.h1-container input {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2px;
  padding-left: 0px;
}

.h3-container {
  height: 24px;
  padding-top: 6px;
}

.h3-container input {
  /* font-size: 1.17em; */
  font-weight: bold;
}

input {
  border: 1px solid gray;
  padding-left: 5px;
  background-color: rgb(223, 220, 220);
}

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-btns-container {
  display: flex;
  align-self: center;
  gap: 10px;
  margin: 8px;
}

.bullet-input {
  width: 100%;
  resize: vertical;
  overflow: visible;
  height: 1.4em;
  font-size: 1em;
}

.right-justify-text {
  text-align: right;
}

.small-font {
  font-size: small;
}

.italicize {
  font-style: italic;
}

.line-space-lg {
  line-height: 1.4rem;
}

.edit-print-btn-container {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.btn {
  font-size: 1.4em;
  padding: 10px 20px;
}

.btn:hover {
  transform: scale(110%);
}

.edit-btn:hover {
  background-color: rgba(135, 206, 250, 0.776);
}

.print-btn:hover {
  background-color: lightgrey;
}

button {
  padding: 4px 8px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.add-btn:hover {
  background-color: lightgreen;
  transform: scale(110%);
}

.remove-btn:hover {
  background-color: lightcoral;
  transform: scale(110%);
}

@media print {
  body * {
    visibility: hidden;
  }

  .page * {
    visibility: visible;
  }

  .page {
    margin: 0;
  }

  .edit-print-btn-container {
    height: 0px;
  }

  @page {
    size: letter;
    margin: 0;
  }
}
