header {
  display: flex;
  width: 100%;
  flex-direction: column;
}

#header-name {
  font-size: 2em;
}

header a {
  color: blue;
}

header ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
  justify-content: center;
}

header h1 {
  text-align: center;
}

.link-input-container {
  width: 100px;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.personal-summary {
  padding: 4px 0px 4px 0px;
  text-justify: none;
}

header ul {
  padding: 4px;
}
