header {
  display: flex;
  width: 100%;
  flex-direction: column;
}

header ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
  justify-content: center;
}

header h1 {
  text-align: center;
}

.link-input-container {
  display: flex;
  flex-direction: column;
  background-color: red;
}
